# Theme settings
dox:
    baseurl: /guide/
    title: Guide des bonnes pratiques
    theme_color: '#0976f8' # Define theme primary color with HEX value
    language: en-US # Use ISO language and country codes to setup language of your website - https://www.w3schools.com/tags/ref_language_codes.asp and https://www.w3schools.com/tags/ref_country_codes.asp
    header:
        logo:
            text: Pagof
            image:
        nav:
            - item_name: Accueil
              item_url: /
            - item_name: Ressources
              item_url: ressources
        cta:
            label: Guide
            url: /guide/documentation
            icon: folder # Choose from 266 icons in "Feather" icon set, list of all icons is available here - https://feathericons.com
    footer:
        logo:
            text: Pagof
            image:
        text: Ce guide a été réalisé en 2019 dans le cadre du projet PAGOF <br> mis en œuvre par Expertise France et CFI; et financé par l’Agence Française de Développement
    google_analytics:
        tracking_code: # Add your Google Analytics tracking code to activate Google Analytics
    comments:
        disqus_forum_shortname: # Add your Disqus forum shortname to activate comments site-wide

# Defining collections

collections:
     documentation:
        output: true
        
     themes:
        output: true
        
     ressources:
        output: true
       

# Defining defaults
defaults:
    -
        scope:
            path: ''
            type: 'documentation'
        values:
            layout: 'documentation-single'
            
    -
        scope:
            path: ''
            type: 'ressources'
        values:
            layout: 'ressources-single'   

# SASS settings
sass:
    sass_dir: ./dox-theme/_sass
    style: :compressed

# Jekyll settings
layouts_dir: ./dox-theme/_layouts
includes_dir: ./dox-theme/_includes
exclude: [ 'README.md', 'CHANGELOG.md' ]
permalink: /:title/
